
form {
    display: grid;
    grid-template-columns: 150px 300px 1fr;
    gap: 10px;
}

button {
    grid-column: 1/3;
    width: 100px;
    justify-self: center;
    border-radius: 10px;
}

p {
    color: red;
    margin: 0;
}